
body {
    font-family: Arial, sans-serif;
    background-color: #FF69B4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #00008B;
}

h2 {
    color: #FFFF00;
}

audio, video {
    margin-bottom: 20px;
}
